PORT=3000
WEBHOOK_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=SK633f4899d91bd264d522b780de0ae8b1
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_DISPLAY_NUMBER=
OPENAI_API_KEY=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
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini

npm start